@import "../../stylesheets/mixins";
.signup-page {
  .title {
    display: block;
    margin: 100px 0;
    text-align: center;
  }
  .content {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
  }
}
